<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

   <filter>
    <filter-name>Administrador</filter-name>
    <filter-class>br.com.wmtt.server.controle.FiltroAutenticacaoAdministrador</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Administrador</filter-name>
    <url-pattern>/administrador/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>Professor</filter-name>
    <filter-class>br.com.wmtt.server.controle.FiltroAutenticacaoProfessor</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Professor</filter-name>
    <url-pattern>/professor/*</url-pattern>
  </filter-mapping>
    
  <!-- Servlets -->
  <servlet>
    <servlet-name>RPCServiceServlet</servlet-name>
    <servlet-class>br.com.wmtt.server.RPCServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>RPCServiceServlet</servlet-name>
    <url-pattern>/wmtt/RPCService</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>wmtt.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>

</web-app>